@using SpatialIndexesComparison.Enums
@using SpatialIndexesComparison.Extensions
@model SpatialIndexesComparison.ViewModels.ComparisonViewModel

<div class="row">
    @using (Html.BeginForm("Index", "GisIndex", FormMethod.Post, new { @class="form-horizontal" }))
    {
        <div class="form-group">
            <label class="col-md-1 control-label">Index A</label>
            <div class="col-md-2">
                @Html.DropDownListFor(m => m.FirstIndex, Html.EnumDropdown(typeof(IndexEnum)), new { @class = "form-control" })
            </div>
            <label class="col-md-1 control-label">Index B</label>
            <div class="col-md-2">
                @Html.DropDownListFor(m => m.SecondIndex, Html.EnumDropdown(typeof(IndexEnum)), new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.AllIndexes) Compare all index types
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">Data</label>            
            <div class="col-md-5">
                @Html.DropDownListFor(m => m.Data, Html.EnumDropdown(typeof(DataEnum)), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">Query</label>
            <div class="col-md-3">
                @Html.DropDownListFor(m => m.Query, Html.EnumDropdown(typeof(QueryEnum)), new { @class = "form-control" })
            </div>
            <label class="col-md-1 control-label">Times</label>
            <div class="col-md-1">
                <div class="pull-right">
                    @Html.TextBoxFor(m => m.NumberOfQueries, new { @class = "form-control"})
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary pull-right">Test</button>
            </div>
        </div>
    }
</div>
<div class="row">
@(Model.Chart)    
</div>


